* {
  margin: 0;
}

body {
  height: 100vh;
  background: url(https://images.unsplash.com/photo-1563293756-857fc846d0d1?q=80&w=3885&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1280px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(238, 238, 238, 0.542);
}

.weather-box {
  width: 40%;
  padding: 1em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.192);
}

.weather-box .city-name {
  font-size: 2.5em;
  color: #ffffffba;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-box .city-name .material-symbols-outlined {
  font-size: 1em;
}

.weather-box .today-date {
  font-size: 1.2em;
  color: #ffffffba;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

.weather-box .city-temp {
  font-size: 8.6em;
  color: #ffffffac;
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  line-height: 1;
}

.weather-box .city-temp-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  color: #ffffffac;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
}

.weather-box .city-weather {
  margin: 1em 0;
  display: inline-block;
  text-align: center;
}

.weather-box .city-weather img {
  width: 100px;
  height: 100px;
}

.weather-box .city-weather .city-description {
  font-size: 2em;
  color: #ffffffba;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
}

.weather-btn {
  display: flex;
  justify-content: space-around;
}

.weather-btn button {
  margin: 2em 1em;
  padding: 1.2em 2em;
  border: none;
  background: rgb(243, 247, 255);
  opacity: 0.6;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 1em;
}

.weather-btn button:hover {
  background: rgb(243, 247, 255);
  opacity: 1;
  cursor: pointer;
}

.weather-btn button.selected {
  background: rgb(243, 247, 255);
  opacity: 1;
  font-weight: bold;
  color: hsla(215, 100%, 52%, 0.975);
}
